.rf-map,
.rf-map *{
    box-sizing: border-box;
}
.rf-map {
    position: relative;
    max-width: 100%;
    margin: auto;
    padding: 20px;
}
.rf-map svg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 5px 12px rgba(0, 0, 0, 0.5));
}
.rf-map path {
    stroke: #fff;
    stroke-width: 1;
    stroke-linejoin: round;
}
.rf-map [data-code] {
    fill: hsla(0,0%,20%, 0.5);
    transition: fill 0.2s;
}
.rf-map .active[data-code='RU-ZP']{
    fill: #ffd700;
}
.rf-map .active[data-code='RU-HR']{
    fill: #e5e5e5;
}
.rf-map .active[data-code='RU-CR']{
    fill: #cd7f32;
}
/* Цвета регионов */
.rf-map .active{
    cursor: pointer;
    fill: hsla(300,20%,30%, 1);
}
.rf-map .active:hover{
    cursor: pointer;
    //fill: hsla(240,50%,30%, 1);
    fill: #820000;
    transition: fill 0.2s;
}
/* list */

section.regions{
    margin-top: 20px;
    max-width:  900px;
}

section.regions .grid{
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 3px;
    text-align: center;
}
section.regions .grid:not(.list-body){
    grid-template-columns: 1fr 103px;

}


section.regions .list-head div{
    color: white;
    text-align: center;
    background-color: #820000 !important;
    padding: 10px 20px;
}
section.regions .list-foot div{
    color: white;
    text-align: center;
    background-color: #820000 !important;
    padding: 10px 20px;
}
section.regions .list-body div{
    background-color: #f5faff;
    padding: 10px 20px;

}

section.regions .list-body {
    max-height: 518px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-left: solid 3px #820000;
}
section.regions .list-body > div:nth-child(4n+3),
section.regions .list-body > div:nth-child(4n+4){
    background-color: #fefefe !important;
}

/* box by days in detail charts*/
section.regions .list-body::-webkit-scrollbar {
    width: 3px;
    position: relative;
    background-color: #820000;
}
section.regions .list-body::-webkit-scrollbar-track {
    background: transparent;

}
section.regions .list-body::-webkit-scrollbar-thumb {
    border: 1px solid #820000;
    background-color: white;
}

section.regions .list-head > div:first-child{
    border-radius: 15px 0 0 0;
}
section.regions .list-head > div:last-child{
    border-radius: 0 15px 0 0;
}
section.regions .list-foot > div:first-child{
    border-radius: 0 0 0 15px;
}
section.regions .list-foot > div:last-child{
    border-radius: 0 0 15px 0;
}
