.red-title{
    font-size: 1.75rem;
    text-align: center;
    color: white;
    background-color: #820000;
    padding: 20px;
}
.form-get-snils{
    background-color: white;
    padding: 10px;
}

.results-spec-grid{
    display: grid;
    grid-template-columns: 100px 1fr 200px 200px 100px;
    gap: 3px;
    align-items: center;
    text-align: center;
}
.results-exam-grid{
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 3px;
    align-items: center;
    text-align: right;
}
.results-list{
    background-color: white;
    padding: 0;
}

.results-list .result-spec:last-child{
    border: none !important;
}

.inRating{
    background-color: #CDFFC9;
}
.inRatingOrigin{
    background-color: #CDFFC9;
}

/* Панель выбора факультета */
.rating-faculties-panel a{
    text-decoration:        none;
    background-color:       #e0e0e0;
    color:                  #1d1e1e;
    border:                 solid 2px #d0d0d0;
    border-bottom-width:    0;
    border-radius:          15px 15px 0 0;
}
.rating-faculties-panel a.active{
    background-color:       darkred;
    color:                  white;
    cursor:                 default;
    border-color:           darkred;
}
.rating-faculties-panel a:not(.active):hover{
    background-color:       #e5e5e5;
    color:                  darkred;
}
.rating-faculties-panel a:focus{
    outline-width:          0;
}
.rating-faculties-panel a:focus:not(.active){
    background-color:       #f5f5f5;
    color:                  darkred;
}
.rating-faculties-panel a:first-child{
    margin-left: 0 !important;
}
.rating-faculties-panel a:last-child{
    margin-right: 0 !important;
}
/**/
.rating-faculties-content{
    background-color: white;
    border: solid 2px darkred;
    padding: 10px 20px;
}

.rating-faculty{
    display: none;
}
.rating-faculty.active{
    display: block;
}


